.app {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    &__container {
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__loader {
        width: 200px;
        height: 200px;
        @media (max-width:200px) {
            width: 100px;
            height: 100px;
        }
    }
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto auto;
        row-gap: 15px;
        column-gap: 20px;
        @media (max-width: 750px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__today {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__forecast {

    }
    &__chart {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        max-width: 100%;
    }
}
